/* Estilos generales */
body {
  background: linear-gradient(135deg, #1b004b 0%, #4c007d 50%, #7f00b2 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* Gradientes y fondos */
.custom-bg {
  background: linear-gradient(135deg, #1b004b 0%, #4c007d 50%, #7f00b2 100%);
}

.bg-gradient-to-r {
  background: linear-gradient(to right, #1b004b, #4c007d, #7f00b2);
}

.bg-image {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.5) 100%), url('https://img.freepik.com/foto-gratis/personaje-dibujos-animados-3d_23-2151021922.jpg?t=st=1721966561~exp=1721970161~hmac=5cb656f12016ffd4cd3412f6a0e7a21701bc51621c09a1f91678bc94fc3ef449&w=740');
  background-size: cover;
  background-position: center;
}

/* Botones y contenedores */
.glass-effect {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.avatar-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.avatar-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to right, transparent, black);
  -webkit-mask-image: linear-gradient(to right, transparent, black);
  opacity: 0.5;
}


/* Tipografía */
.text-white {
  color: #ffffff;
}

.text-yellow-500 {
  color: #fcd34d;
}

.text-lg {
  font-size: 1.125rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Diseño de cuadrícula y contenedores */
.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.sm\:grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.lg\:grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gap-6 {
  gap: 1.5rem;
}

.max-w-6xl {
  max-width: 72rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Estilos para efectos */
.transition-transform {
  transition: transform 0.2s;
}

.transform {
  transform: scale(1);
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

.hover\:scale-110:hover {
  transform: scale(1.1);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.6);
}

.focus\:ring-purple-500:focus {
  box-shadow: 0 0 0 2px #4c007d;
}

.cursor-pointer {
  cursor: pointer;
}

/* Otros estilos */
.relative {
  position: relative;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-6 {
  padding: 1.5rem;
}

.w-full {
  width: 100%;
}

.h-64 {
  height: 16rem;
}

.z-10 {
  z-index: 10;
}

.custom-card-bg {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
